html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

section{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

img{
    height: clamp(100px, 20vh, 686px)
}

.title{
    font-size: clamp(20px, 10vh, 85px);
}

.home{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.home a:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
}

.page-content{
    margin: 10px 35px 50px 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    text-align: justify;
}

.page-content ul li{
    list-style-type: none;
    margin-bottom: 30px;
}

.navigation-mobile-container{
    display: none;
}

.show-menu-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1000;
    line-height: 10px;
    cursor: pointer;
}

.inner-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2.5px;
    width: 25px;
    height: 25px;
    background: black;
}
