html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

img{
    height: clamp(100px, 20vh, 600px)
}

@media (max-width: 1295px){
    img{
        max-height: 450px;
    }
}

.title{
    font-size: clamp(20px, 10vh, 45px);
}
.page-content{
    margin: 10px 35px 10px 0px;
    overflow-x: hidden;
    text-align: justify;
}

.navigation-mobile-container{
    display: none;
}

.home img{
    max-width: 900px;
}

.img-div{
    margin-bottom: 30px;
}